<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index1</title>
    <link rel="stylesheet" href="static/style.css">
    <style>
    table {
    border:1px solid black;
    }
    th{
    border:1px solid black;
    }
    td {
    border:1px solid black;
    padding: 10px;
    }
    </style>
  </head>
  <body>

  <h2>Bookreview</h2>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
  <table style="width:100%">
    <tr>
      <th>Members</th>
      <th>New</th>
      <th>Discuss</th>
      <th>About</th>
      <th>login</th>
      <th>Register</th>
    </tr>
    <tr>

      <th>Schedule of Liturgy</th>
      

    </tr>
    <tr>
      <td>Belfast
      <p>adress:</p>
        <ol>
          <li>Liturgy one</li>
          <li>liturgy two</li>
          <li>Liturgy three</li>
          <li>Liturgy fourth</li>
        </ol>
      </td>
    <td>Newry
      <p>adress:</p>
      <ol>
        <li>Liturgy one</li>
        <li>liturgy two</li>
        <li>Liturgy three</li>
        <li>Liturgy fourth</li>
      </ol>
    </td>
    <td>Will be pictuare
    <tr>
    <td>Book Library</td>
   <tr>
     <th>Title book 1</th>
     <th>Title book 2</th>
     <th>Title book 3</th>
     <th>Title book 4</th>
     <th>Title book 5</th>
     <th>Title book 6</th>
     <th>Title book 7</th>
    </tr>
  </table>

  <p>To understand the example better, we have added borders to the table.</p>

  </body>
</html>